.app-content
{
    padding: 1%;
    background-color: #f8f9fa;
   
    .btn {
        border-radius: 0px;
        padding: 3% 0%;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .card{
        .card-body{
            padding: 0%;
        }
    }
}
