.app-content
{
    padding: 1%;
    background-color: #f8f9fa;
   
    .product-card {
        .btn {
               border-radius: 50px;
                padding: 3% 1%;
                margin: 10px 0px;
                margin-right: -10px;
                font-weight: bold;
                font-size: 1rem;
                box-shadow: 0px 1px 4px 0px #b7b7b7;
        }
    }    
    .card{
        .card-body{
            padding: 0%;
        }
    }
    .content-padding
    {
        padding: 5%;
    }
}
