.card
{
    margin: 2% 2%;
    border-radius: 0px;
}
.card-img-top {
    width: auto!important;
    max-height: 300px;
}
.product-card:hover
{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 12px 0px #d2d2d2;
}
.product-name{
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 0px
}
.product-price
{
    color: #dc3545;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
}